[submodule "modules/axUtils"]
	path = modules/axUtils
	url = git@github.com:axlib/axUtils.git
[submodule "modules/axAudio"]
	path = modules/axAudio
	url = git@github.com:axlib/axAudio.git
[submodule "modules/axAudioServer"]
	path = modules/axAudioServer
	url = git@github.com:axlib/axAudioServer.git
[submodule "modules/axAudioWidget"]
	path = modules/axAudioWidget
	url = git@github.com:axlib/axAudioWidget.git
[submodule "modules/axCore"]
	path = modules/axCore
	url = git@github.com:axlib/axCore.git
[submodule "modules/axEditor"]
	path = modules/axEditor
	url = git@github.com:axlib/axEditor.git
[submodule "modules/axMath"]
	path = modules/axMath
	url = git@github.com:axlib/axMath.git
[submodule "modules/axServer"]
	path = modules/axServer
	url = git@github.com:axlib/axServer.git
[submodule "modules/axMidi"]
	path = modules/axMidi
	url = git@github.com:axlib/axMidi.git
[submodule "modules/axEvent"]
	path = modules/axEvent
	url = git@github.com:axlib/axEvent.git
[submodule "modules/axPython"]
	path = modules/axPython
	url = git@github.com:axlib/axPython.git
[submodule "modules/axExec"]
	path = modules/axExec
	url = git@github.com:axlib/axExec.git
[submodule "modules/axWidget"]
	path = modules/axWidget
	url = git@github.com:axlib/axWidget.git
[submodule "modules/axGL"]
	path = modules/axGL
	url = git@github.com:axlib/axGL.git
[submodule "modules/modules/axDatabase"]
	path = modules/modules/axDatabase
	url = git@github.com:axlib/axDatabase.git
[submodule "modules/axDatabase"]
	path = modules/axDatabase
	url = git@github.com:axlib/axDatabase.git
